body {
    background: #e5e5e5;
}
 
#title, #subtitle, #post_title 
{
    color: rgb(58, 58, 146);
}
#post_title {
    font-size: 16px;
    font-style: italic;
}
.post {
    background: white;
    padding: 10px;
    border: 10px,solid,black;
    margin: 10px;

}
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;

}
footer ul { 
    display: flex;
    align-items: center;
    justify-content: center;

}
footer li {
    margin-left: 20px;
    color: #e5e5e5;
    list-style-type: none;
    text-decoration:none ;

}
.post img{
    width: 700px;
    height: 400px;
}